.nested-fields
  .card-action
    .row.answer-fields
      .col.s10
        = f.input :name, wrapper_html: { class: 'input-field' }
      .col.s2
        %p
          = link_to_remove_association f, { data: { confirm: t('.delete_answer') }} do
            %i.material-icons.primary-color
              delete
